

.banner-text {
  background: #21bbe6;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: white;
  /* font-weight: bold; */
  font-size: 20px;
  padding: 8px;
  
}

.title {
  font-style: italic;
}

.offer {
  margin-left: 10px;
  font-weight: normal;
}